@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esse site é somente para fins demonstrativos. Seus dados armazenados durante a navegação não serão utilizados para nenhum propósito além das demonstrações do portal.</p>
